<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communist ChatBot</title>
    <link rel="icon" href="{{ url_for ('static',filename='images/Untitled-removebg-preview.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <style>
        .typing-indicator {
            font-style: italic;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="nav-bor">
        <img src="{{url_for('static',filename='images/Untitled-removebg-preview.png')}}" alt="log">
        <h1><span class="number">24</span>வது தமிழ் மாநில மாநாடு <br><span>( மாநாடு குறித்த விவரங்கள் )</span></h1>
        <button class="menu" aria-label="Main Menu" id="menuBTN">
            
        </button>
    </div>
    <div class="main-img">
    <img src="{{url_for('static',filename='images/Untitled-removebg-preview.png')}}" alt="log" />
    </div>
    <button class="chat-button" id="chatButton" onclick="toggleQuestions()">
        <img id="chat-icon" src="{{url_for('static',filename='images/chat-icon.png')}}" alt="log"/>
        <span class="chat-button-content">கேள்வி</span>
    </button>
    <div class="chat-questions" id="chatQuestions" style="display: none;" >
        {% if all_questions %}
        <ul>
            {% for question in all_questions %}
            <li onclick="handleQuestionClick('{{question['question']}}')">{{ loop.index }}. {{question['question']}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="chatoutput-container">
        <ul id="chatOutput">
        </ul>
        <div class="empty"></div>
    </div>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>